@media print{
  body{
  	margin: 0 !important;
  	padding: 0 !important;
  }
  body .navbar,#sidebar,#breadcrumbs,#settings-container {
    display:none;
    width: 0;
    height: 0;
  }
  body #main-content{
  	margin: 0 !important;
  }

  body .printable {
    display:block;
  }
  .module-header{
  	margin: 0 !important;
  }
  .table td{
  	padding-top: 0;
  	padding-bottom: 0;
  }
  .hidden-print{
  	display:none !important;
  }
  .widget-full-screen{
    position: static !important;
  }
}

.data-detail{
	display: none;
}
.data-detail.active{
	opacity: 1;
}

.data-detail td.host{
	text-indent: 15px;
}

.table-striped tbody tr td:nth-child(1),.table-striped tbody tr td:nth-child(2),.table-striped tbody tr td:nth-child(3) {  
	background: #efe;
}
.table-striped tbody tr:hover td:nth-child(1),.table-striped tbody tr:hover td:nth-child(2),.table-striped tbody tr:hover td:nth-child(3){
	background: #ffffd6;
}
/*
.table-striped thead:nth-child(-n+8){
	color: red;
}
*/
.table-striped thead:nth-child(-n+2){
	color: #333;
}

@media (max-width: 979px){
	.data-detail td.host{
		text-indent: 0;
	}
}


@media only screen and (max-width: 767px) {
	
	.widget-box .widget-content{ margin-bottom: 0; overflow: auto; white-space: nowrap;}
	
	
}

#statisticrange{
  padding: 8px;
  line-height: 18px;
  cursor: pointer;
}
#statisticrange .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

tbody tr td:first-child{
    text-align:right;
    font-size:0.7em;
}
thead tr td:first-child{
  font-weight: bold;
}